@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-3">
		<h2>Injection results</h2>
		<ul>
			<li>Controller constructor: @ViewData["CC"]</li>
			<li>Controller attribute: @ViewData["CA"]</li>
			<li>Service attribute: @ViewData["SA"]</li>
		</ul>
	</div>
</div>
